﻿@model IList<BejeweledCore.Entity.Comment>
@{
    ViewData["Title"] = "Bejeweled";
}

<h1 class="margin-bot-20">Pridaj Komentár</h1>

<form action="/Bejeweled/SaveComment">
    <div>
        <label for="comment"><b>Komentár: </b></label>
        <input id="comment" name="comment" type="text" required size="50" class="margin-left-20"/>
    </div>
    <div>
        <input type="submit" value="Pridaj" class="margin-bot-20 button"/>
    </div>
</form>
<a href="/Bejeweled/Comments">späť</a>