﻿@model IList<BejeweledCore.Entity.Comment>
@{
    ViewData["Title"] = "Bejeweled";
}

<h1 class="margin-bot-20">Pridaj Hodnotenie</h1>

<form action="/Bejeweled/SaveRating">
    <div>
        <label for="stars"><b>Hodnotenie: </b></label>
        <input id="stars" name="stars" type="number" required min="1" max="5" class="margin-left-20"/>
    </div>
    <div>
        <input type="submit" value="Pridaj" class="margin-bot-20 button"/>
    </div>
</form>
<a href="/Bejeweled/Ratings">späť</a>