﻿@model IList<BejeweledCore.Entity.Comment>
@{
    ViewData["Title"] = "Bejeweled";
}

<h1>Komentáre</h1>
@for (int i = 0; i < Model.Count; i++)
{
    <p>
        <div><b>@Model[i].Player</b></div>
        <div>@Model[i].CommentText</div>
        <div>@Model[i].TimeOfPublication</div>
    </p>
}

<span><a href="/Bejeweled">späť</a></span><span><a href="/Bejeweled/AddComment" class="margin-left-20">pridaj komentár</a></span>