﻿@model (BejeweledCore.Field, System.Object)
@{
    ViewData["Title"] = "Bejeweled";
}

<div class="game-container">
    <div class="field-menu">
        <h1 class="margin-bot-20">Bejeweled</h1>
        <p><b>Player: </b>@Model.Item2</p>
        <p><b>Score: </b>@(Model.Item1.Score)</p>
        <a href="/Bejeweled/EndGame">ukončiť hru</a>
    </div>


    <table class="field">
        @for (var row = 0; row < Model.Item1.RowCount; row++)
        {
            <tr>
                @for (var column = 0; column < Model.Item1.ColumnCount; column++)
                {
                    var tile = Model.Item1.GetTile(row, column);
                    @if (tile.Type == ' ')
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                            <a href="/Bejeweled/Select?row=@(row)&column=@(column)">
                                <img src="/images/@((char)tile.Type).jpg" />
                            </a>
                        </td>
                    }
                }
            </tr>
        }
    </table>
</div>