﻿@{
    ViewData["Title"] = "Bejeweled";
}

<h1 class="center margin-bot-20 orange margin-top-50">Bejeweled</h1>

<div class="menu">
<h2 class="center"><a href="/Bejeweled/NewGame" class="font-weight-normal">Nová hra</a></h2>
<h2 class="center"><a href="/Bejeweled/TopScores" class="font-weight-normal">Top skóre</a></h2>
<h2 class="center"><a href="/Bejeweled/Ratings" class="font-weight-normal">Hodnotenie hry</a></h2>
<h2 class="center"><a href="/Bejeweled/Comments" class="font-weight-normal">Komentáre</a></h2>
</div>

