﻿@model (IList<BejeweledCore.Entity.Rating>, double)
@{
    ViewData["Title"] = "Bejeweled";
}

<h1>Hodnotenia</h1>

<div>
    Priemerné hodnotenie: @Math.Round(Model.Item2, 1)/5
</div>

<h2>Najnovšie hodnotenia</h2>

@for (int i = 0; i < Model.Item1.Count; i++)
{
    <p>
        <div><b>@Model.Item1[i].Player</b></div>
        <div>
            @for (int j = 0; j < 5; j++)
            {
                if (j < @Model.Item1[i].Stars.Length)
                {
                    <span class="fa fa-star checked"></span>
                }
                else
                {
                    <span class="fa fa-star"></span>
                }
            }
        </div>
        <div>@Model.Item1[i].TimeOfPublication</div>
    </p>
}

<span><a href="/Bejeweled">späť</a></span><span><a href="/Bejeweled/AddRating" class="margin-left-20">pridaj hodnotenie</a></span>