﻿@model IList<BejeweledCore.Entity.Comment>
@{
    ViewData["Title"] = "Bejeweled";
}

<h1 class="center margin-bot-50">Zadaj meno hráča</h1>

<form action="/Bejeweled/SetName" class="center">
    <div>
        <label for="name"><b>Meno: </b></label>
        <input id="name" name="name" type="text" required size="25" class="margin-left-20"/>
    </div>
    <div>
        <input type="submit" class="margin-top-10 button"/>
    </div>
</form>