﻿@model IList<BejeweledCore.Entity.Score>
@{
    ViewData["Title"] = "Bejeweled";
}

<h1>Top Skóre</h1>
@for (int i = 0; i < Model.Count; i++)
{
    <p>
        <div><b>@(i + 1). @Model[i].Player</b></div>
        <div>počet bodov: @Model[i].Points</div>
        <div>@Model[i].PlayedAt</div>
    </p>
}

<a href="/Bejeweled">späť</a>