﻿td {
    padding: 5px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.bejeweled {
    margin: auto;
    margin-top: 200px;
}

a {
    font-weight: bold;
    color: orange;
}

a:hover {
    color: orange;
}

.bejeweled a {
    color: orange;
}


.menu a {
    color: black;
}

.menu a:hover {
    color: orange;
    text-decoration: none;
}

.orange {
    color: orange;
}

.game-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.field {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 150px;
}

.field-menu {
}

.center {
    text-align: center;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-bot-50 {
    margin-bottom: 50px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

.button {
    font-weight: bold;
    border: 3px solid orange;
    border-radius: 5px;
}

.button:hover {
    font-weight: bold;
    border: 3px solid black;
    background-color: orange;
}

.no-font-weight {
    font-weight: normal;
}